<div class="section-container">Личный кабинет</div>
<section class="section">
    <ul class="sales-list">
        <li class="sales-item">
            <div class="item-text">
                <h3><b>E-mail:</b></h3>
                <br>
            </div>
            <div class="item-text2">
                <h3><b class="accounttxt">213</b></h3>
                <br>
                <br>
                
            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Клиентский номер, ID</b></h3>
                <br>
                 <br>
                
            </div>
            <div class="item-text2">
                <h3><b class="accounttxt">228</b></h3>
                <br>
                <br>
                
            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Статус:</b></h3>
                <br>
                <br>
                
            </div>
            <div class="item-text2">
                <h3><b class="accounttxt">Постоянный покупатель</b></h3>
                <br>
                <br>
                
            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Избранное:</b></h3>
                <br>

            </div>
                <div class="item-container">123
                </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Корзина:</b></h3>
                <br>
                <br>
            </div>
                <div class="item-container">123
                </div>
        </li>
    </ul>
</section>
