section{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.sales-list {
    display: flex;
    width: 1443px;
    flex-wrap: wrap;
}

.sales-item {
    width: 275px;
    height: 208px;
    background-color: #9BE15D;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 17px;
    position: relative;
    cursor: pointer;

    img{
        position: absolute;
        width: 230px;
        height: auto;
        bottom: 0;
        left: 25px;
    }

    &:last-child {
        margin-right: 0px;
    }
}

.item-text{
    z-index: 5;
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    width: 100%;
    height: 20%;

    color: #6B6868;
}
.item-text2{
    z-index: 5;
    position: relative;
    padding-left: 20px;
}
.accounttxt{
font-family: 'SF Pro Display';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000;
}
.item-container{
    display: flex;
    max-width: 294px;
    max-height: 159px;
    width: 100%;
    height: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.section-container{
    display: flex;
    margin-top: 20px;
    margin-left: 5%;
    width: 85%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000;
}