<section class="section">
    <ul class="sales-list">
        <li class="sales-item">
            <div class="item-text">
                <h3><b>E-mail:</b></h3>
                <br>
            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Клиентский номер, ID</b></h3>
                <br>
                 <br>
                
            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Статус:</b></h3>
                <br>
                <br>
                
            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Избранное:</b></h3>
                <br>

            </div>
        </li>
        <li class="sales-item">
            <div class="item-text">
                <h3><b>Корзина:</b></h3>
                <br>
                <br>
            </div>
        </li>
    </ul>
</section>
