<p>я гей!</p>
<div class="end">
    <div class="container_footer">
        <div class="end_container">
            <div class="container_footer2">
                <div class="logo_footer"></div>
                <div class="container_footer3">
                    <div class="footer_txt">Бесплатная доставка до пункта самовывоза</div>
                    <div class="footer_txt2">Если вам нужна доставка на дом цену уточняйте при оформлении заказа</div>
                </div>
            </div>
        </div>
            <div class="container_footer4">
                <div class="footer_txt3">Категории</div>
                <div class="footer_txt4">Ноутбуки</div>
                <div class="footer_txt4">Компьютеры</div>
                <div class="footer_txt4">Смартфоны</div>
                <div class="footer_txt4">Гаджеты</div>
                <div class="footer_txt4">Телевизоры</div>
                <div class="footer_txt4">Развлечения</div>
                <div class="footer_txt4">Для дома</div>
                
            </div>
    </div>
</div>

