.mainbody{
    display: flex;
    width: 30%;
    height: auto
}
.mainbody2{
    display: flex;
    max-width: 251px;
    max-height: 21px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #000;
}
.backreg {
    position: absolute;
    width: 45%;
    height: 100%;
    left: 55%;
    top: 0px;
    max-width: 100%;
    max-height: 100%;
    background-image:url("/assets/backreg.png");
    background-repeat: no-repeat;
}
.Logoreg {
    background-image:url("/assets/Logo.png") ;
    width: 100%;
    height: 100%;
    max-width: 126px;
    max-height: 96px;
    background-repeat: no-repeat;
}
.txtlogo {
    width: 100%;
    max-width: 296px;
    max-height: 45px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-align: center;
}
.elipce1 {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 1163px;
    top: 367px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}
.txt1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 1299px;
    top: 40.3%;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 74px;
    text-align: center;
    color: #000000;
    margin: auto;
    max-width: 583px;
    max-height: 159px;
}
.container_logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 296px;
    height: 150px;
    margin-left: 62px;
    align-items: center;
}
.container_backreg{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.container_backreg2{
    width: 100%;
    height: 233px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_backreg3{
    padding-left: 50px;
    width: 100%;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 484px;
    max-height: 284px;
    width: 100%;
    height: 100%;
    margin-top: 15%;
    margin-left: 13%;
    flex-direction: column;
}
.container-body2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 440px;
    max-height: 548px;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-left: 15.5%;
    flex-direction: column;
}
.container-body2-2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-body2{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-body3{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-body4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-txt{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #999;
    margin-left: 8px;
    margin-top: -10px;
}
.container-txt2-0{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    margin-left: 8px;
    margin-top: -45px;
}
.container-txt2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000; 
}
.container-txt2-2{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000; 
}
.container-txt3{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #008969;
    margin-top: -78px;
    cursor: pointer;
}
.container-txt3-1{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-top: -78px;
}
#txt1{
    margin-left: 120px;
}
#txt2{
    margin-left: -20px;
}
#txt3{
    margin-top: 12%;
}
#txt4{
    margin-top: 25%;
}
.container-border{
    width: 100%;
    border: 1px solid #4D8E13;
    margin-top: -40px;
}
.container-psevdo-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 157px;
    width: 100%;
    height: 100%;
    max-height: 21px;
    margin-left: 154px;
    margin-top: 90%;
}
.logo2{
    width: 100%;
    height: 100%;
    max-width: 190px;
    max-height: 190px;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    background-image: url(/assets/Logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% ;
}
.txtlogo2{
    width: 100%;
    height: 100%;
    max-width: 583px;
    max-height: 159px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 74px;
    text-align: center;
    color: #000000;
}
.txtlogo3{
    padding-top: 4px;
    max-width: 677px;
    max-height: 36px;
    width: 100%;
    height: 100%;
    margin-left: 9px;
    font-family:'SF Pro Display';
    font-style: normal;
    font-size: 22px;
    font-weight: 200;
    font-weight: 22px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
#input1{
    margin-left: 25px;
    text-align: left;
    font-size: 24px;
}
#input2{
    margin-left: 25px;
    text-align: left;
    color: #9BE15D;
    font-size: 40px;
}
#button1{
    max-width: 227px;
    width: 100%;
    height: 49px;
    margin-top: -40px;
    font-weight: 700;
    font-size: 20px;
}