<p>я гей</p>
<!--<html>
<head>
<meta charset="UTF-8">
<title>TechnoSpot - Авторизация</title>
</head>
<body style="height: 1000px; margin: 0px; overflow: hidden;">
    <div class="backreg"></div>
    <div class="Logoreg" style="top: 7.8%; left: 5.21%;"></div>
    <span class="txtlogo">Магазин электроники</span>
    <div class="elipce1"><div class="Logoreg" style="position: relative;
    width: 126px;
    height: 96px;
    left: 16.8%;
    top: 24.7%
    ;"></div>
    </div>
    <span class="txt1">Магазин электроники</span>
    
</html>-->
<div class="container_logo">
    <div class="Logoreg"></div>
    <div class="txtlogo">Магазин электроники</div> 
</div>
<div class="backreg">
    <div class="container_backreg">
        <div class="container_backreg2">
            <div class="container_backreg3"><div class="logo2">         
            </div>
            <div class="txtlogo2">Магазин электроники</div></div>
            <div class="txtlogo3">Лучший интернет-магазин электроники с доступными ценами</div>
        </div>
    </div>
</div>

