<app-header></app-header>
<div class="content"> <!-- action быть не должно-->
    <div class="section-container">description см коммент в коде</div>
    <!-- хз что тут добавить кроме описания надо его просто ограничить наверное когда подключишь-->
    <div class="main-container">
        <div class="order-container">
            <div class="card">
                <!-- <img [src]="good.img"> -->
            </div>
            <div class="item-container">
                <div class="item-category">категория</div>
                <div class="item-description">
                    описание товараописание товараописание товараописание товараописание товараописание товараописание
                    товараописание товара
                </div>
            </div>
            <div class="item-price">
                <div class="oldPrice">скидка если есть</div>
                <div class="mainPrice">много деняк</div>
            </div>
        </div>
        <div class="actions">
            <button class="default-button" id="button1">Купить</button>
        </div>
    </div>
</div>
<app-footer></app-footer>