<app-header></app-header>
<div class="content" *ngIf="good">
    <div class="section-container">{{good.description}}</div>
    <div class="main-container">
        <div class="order-container">
            <div class="card">
               <img [src]="good.img">
            </div>
            <div class="item-container">
                <div class="item-category">категория</div>
                <div class="item-description">
                    {{good.description}}
                </div>
            </div>
            <div class="item-price">
                <div class="oldPrice" *ngIf="good.oldPrice">{{good.oldPrice}}рублей</div>
                <div class="mainPrice">{{good.mainPrice}}рублей</div>
            </div>
        </div>
        <div class="actions">
            <button class="default-button" id="button1" (click)="clickBuy(good)" *ngIf="checkGoodOnCart(good)">Купить</button>
            <button class="default-button delete-color" id="button1" (click)="clickDeleteFromCart(good)" *ngIf="!checkGoodOnCart(good)">Удалить</button>
        </div>
    </div>
</div>
<app-footer></app-footer>