<div class="header-container">
    <a  routerLink="/"
        class="logo-container center-container">
        <img src="/assets/Logo.png">
    </a>
    <div class="catalog-btn-container center-container" mat-button [matMenuTriggerFor]="catalogMenu">
        <button class="ctlg-btn">
            <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="reorder"></mat-icon>
            <div class="ctlg-btn-text">Каталог</div>
        </button>
    </div>
    <mat-menu #catalogMenu="matMenu" xPosition="before">
        <a mat-menu-item routerLink="/goods/laptop">Ноутбуки</a>
        <a mat-menu-item routerLink="/goods/pc">Компьютеры</a>
        <a mat-menu-item routerLink="/goods/smartphones">Смартфоны</a>
        <a mat-menu-item routerLink="/goods/gadgets">Гаджеты</a>
        <a mat-menu-item routerLink="/goods/tv">Телевизоры</a>
        <a mat-menu-item routerLink="/goods/fun">Развлечения</a>
        <a mat-menu-item routerLink="/goods/home">Для Дома</a>
        <a mat-menu-item routerLink="/goods/auto">Автотовары</a>
        <a mat-menu-item routerLink="/goods/ssd">SSD накопители</a>
    </mat-menu>
    <div class="search-container center-container">
        <div class="search-wrap center-container">
            <input type="text" class="input-search" placeholder="Поиск товара...">
            <div class="icon-search center-container">
                <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="search" class="search"></mat-icon>
            </div>
        </div>
    </div>
    <div class="menu-container center-container">
        <ul class="menu-wrap">
            <li class="menu-item" routerLink="/auth" *ngIf="!userInfo">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="войти" fontIcon="person" class="person"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Войти
                </div>
            </li>
            <li class="menu-item" routerLink="/personal-member" *ngIf="userInfo">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="кабинет" fontIcon="person" class="person"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    кабинет
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="заказы" fontIcon="work" class="work"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Заказы
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="избранное" fontIcon="favorite" class="favorite"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Избранное
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="Корзина" fontIcon="shopping_cart" class="shopping_cart"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Корзина
                </div>
            </li>
            <div class="menu-icon center-container" mat-button [matMenuTriggerFor]="cabinetMenu">
                <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="reorder"></mat-icon>
            </div>
        </ul>

        <mat-menu #cabinetMenu="matMenu" xPosition="before">
            <div mat-menu-item>{{this.userInfo ? 'кабинет' : 'войти'}}</div>
            <div mat-menu-item>Заказы</div>
            <div mat-menu-item>Избранное</div>
            <div mat-menu-item>Корзина</div>
        </mat-menu>
    </div>
</div>