<div class="header-container">
    <a class="logo-container center-container">
        <img src="/assets/Logo.png">
    </a>
    <div class="catalog-btn-container center-container">
        <button class="ctlg-btn">
            <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="reorder"></mat-icon>
            <div class="ctlg-btn-text">Каталог</div>
        </button>
    </div>
    <div class="search-container center-container">
        <div class="search-wrap center-container">
            <input type="text" class="input-search" placeholder="Поиск товара...">
            <div class="icon-search center-container">
                <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="search" class="search"></mat-icon>
            </div>
        </div>
    </div>
    <div class="menu-container center-container">
        <ul class="menu-wrap">
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="person" class="person"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Войти
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="work" class="work"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Заказы
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="favorite" class="favorite"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Избранное
                </div>
            </li>
            <li class="menu-item">
                <div class="menu-item-icon center-container">
                    <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="shopping_cart" class="shopping_cart"></mat-icon>
                </div>
                <div class="menu-item-text text-center">
                    Корзина
                </div>
            </li>
            <div class="menu-icon center-container">
                <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="reorder"></mat-icon>
            </div>
        </ul>
    </div>
</div>