<div class="header-container">
    <div class="logo-container center-container">
        <img src="/assets/Logo.png">
    </div>
    <div class="catalog-btn-container center-container">
        <button class="ctlg-btn">
            <mat-icon aria-hidden="false" aria-label="Каталог" fontIcon="reorder"></mat-icon>
            <div class="ctlg-btn-text">Каталог</div>
        </button>
    </div>
    <div class="search-container center-container">
        <div class="search-wrap center-container">
            <input type="text" class="input-search" placeholder="Поиск товара...">
        </div>
    </div>
    <div class="menu-container"></div>
</div>