section{
    display: flex;
    justify-content: center;
}

.sales-list {
    display: flex;
    width: 1443px;
    flex-wrap: wrap;

    @media (max-width: 1442px){
        justify-content: center;
    }
}

.sales-item {
    background: linear-gradient(0deg,#00E3AE 0%, #9BE15D 100%);

    img{
        position: absolute;
        width: 230px;
        height: auto;
        bottom: 0;
        left: 25px;
    }

    &:last-child {
        margin-right: 0px;
    }

    @media (max-width: 1442px){
        margin-right: 17px;
    }

    &:hover {
        background: linear-gradient(90deg,#00E3AE 0%, #9BE15D 100%);
    }
}

.sales-item-text{
    z-index: 5;
    position: relative;
    padding-left: 7px;
    padding-top: 5px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.percent {
    font-size: 32px;
}

