<section class="section">
    <ul class="sales-list">
        <li class="sales-item goods-card">
            <div class="sales-item-text">
                <h3><b>ЛЕТНИЙ СЕЗОН НАЧАЛСЯ!</b></h3>
                <br>
                <span>До</span><span class="percent">70%</span><br>
                на товары категории <br>
                Для дома
            </div>
            <img src="/assets/sales-item1.png">
        </li>
        <li class="sales-item goods-card">
            <div class="sales-item-text">
                <h3><b>ЛЕТО ВРЕМЯ СКИДОК!</b></h3>
                <br>
                <span>До</span><span class="percent">30%</span><br>
                на товары категории <br>
                КОНДИЦИОНЕРЫ ФИРМЫ HAIER
            </div>
            <img src="/assets/sales-item2.png">
        </li>
        <li class="sales-item goods-card">
            <div class="sales-item-text">
                <h3><b>ЛЕТНИЙ СЕЗОН НАЧАЛСЯ!</b></h3>
                <br>
                <span>До</span><span class="percent">10%</span><br>
                на товары категории <br>
                СМАРТФОНЫ ФИРМЫ APPLE
            </div>
            <img src="/assets/sales-item5.png">
        </li>
        <li class="sales-item goods-card">
            <div class="sales-item-text">
                <h3><b>ЛЕТНИЙ СЕЗОН НАЧАЛСЯ!</b></h3>
                <br>
                <span>До</span><span class="percent">15%</span><br>
                на товары категории <br>
                на SSD диски
            </div>
            <img src="/assets/sales-item3.png">
        </li>
        <li class="sales-item goods-card">
            <div class="sales-item-text">
                <h3><b>ЛЕТНИЙ СЕЗОН НАЧАЛСЯ!</b></h3>
                <br>
                <span>До</span><span class="percent">15%</span><br>
                на товары категории <br>
                на АВТОТОВАРЫ диски
            </div>
            <img src="/assets/sales-item4.png">
        </li>
    </ul>
</section>
