<header class="header">
    <app-header></app-header>
</header>
<div class="slider">
    <app-slider></app-slider>
</div>
<div class="sale">
    <div class="sale-wrap">
        <div class="sale-text">
            ЛЕТНЯЯ <br>
            РАСПРОДАЖА
        </div>
    </div>
</div>
<div class="sales-list">
    <app-sales-list></app-sales-list>
</div>
<div class="goods-list">
    <app-goods-list></app-goods-list>
</div>
<div class="sales-list">
    <app-sales-list></app-sales-list>
</div>
<div class="bottom-banner">
    <app-promotion-banner></app-promotion-banner>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>