
h2 {
    margin-top: 32px;
    width: 1443px;
    margin-bottom: 0px;

    @media (max-width: 1442px){
        text-align: center;
    }
}

.goods-list {
    display: flex;
    width: 1443px;
    flex-wrap: wrap;

    @media (max-width: 1442px){
        justify-content: center;
    }
}

.item-content {
    padding: 14px;
}

.card {
    width: 275px;
    height: 275px;
    padding: 14px;
    background: #E7E4E4;
    position: relative;
    border-radius: 10px;

    img {
        width: 100%;
    }
}

.item-price{
    display: flex;
    margin-bottom: 0px;
}

.main-price {
    margin-right: 12px;
}

.item-description {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    height: 60px;
}

.actions {
    display: flex;
    align-items: center;

    .default-button {
        margin-right: 10px;
    }

    .red{
        color: red;
    }
}

.old-price {
    color: #A49595;
}

.goods-card {
    height: auto;
    transition: all ease 0.2s;

    &:nth-child(5){
        margin-right: 0px;
    }

    &:nth-child(10){
        margin-right: 0px;
    }

    &:nth-child(15){
        margin-right: 0px;
    }

    &:nth-child(20){
        margin-right: 0px;
    }

    @media (max-width: 1442px){
        &:nth-child(5){
            margin-right: 17px;
        }
    
        &:nth-child(10){
            margin-right: 17px;
        }
        
        &:nth-child(15){
            margin-right: 17px;
        }
    
        &:nth-child(20){
            margin-right: 17px;
        }
    }

    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);
    }
}