<section class="section">
    <ul class="goods-list">
        <li>
            <div class="goods-card card">
                <img src="/assets/goods1.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods2.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods3.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods4.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods5.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods6.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods7.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods8.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods9.png">
            </div>
        </li>
        <li>
            <div class="goods-card card">
                <img src="/assets/goods10.png">
            </div>
        </li>
    </ul>
</section>